body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-weight: bold;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #666;
}

.form-group input {
    width: 95%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-group input:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.btn {
    width: 29%;
    height: 50px;
    padding: 10px;
    background-color: #d4b92e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: #b19925;
}

a {
    color: #d4b92e;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  
  a:hover {
    color: #a59024;
    text-decoration: underline;
  }